.NavigationItem {
  margin: 0;
  display: flex;
  justify-content: flex-start;
  height: 100%;
  width: auto;
  align-items: center;
}

.NavigationItem a {
  color: black;
  height: 100%;
  padding: 16px 10px 3px 10px;
  font-family:  'Roboto';
  font-weight: 500;
  text-transform: capitalize;
  /* border-bottom: 2px solid transparent; */
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
  /* border-bottom: 2px solid rgb(0, 0, 0); */
  color: rgb(66, 201, 235);
  text-decoration: none;
}


@media (max-width: 992px) {
  .NavigationItem {
    margin-left: 1%;
    padding: 8px 4px;
    border-bottom: 1px solid #000;
  }
  
  .NavigationItem a {
    padding: 4px 2px;
    /* border-bottom: 2px solid transparent; */
  }
  
  .NavigationItem a:hover,
  .NavigationItem a:active,
  .NavigationItem a.active {
    /* border-bottom: 2px solid rgb(0, 0, 0); */
    color: rgb(66, 201, 235);
    text-decoration: none;
  }
}