.NavigationItem {
  margin: 0;
  display: flex;
  justify-content: flex-start;

  width: auto;
  align-items: center;
}

.NavigationItem a {
  color: black;
  padding: 2px 0px;
  margin: 8px 10px;
  font-family: "Roboto";
  font-weight: normal;
  text-transform: capitalize;
  border-bottom: 2px solid transparent;
  text-decoration: none !important;
}

.NavigationItem a:hover,
.NavigationItem a.active {
  border-color: rgb(66, 201, 235);
  text-decoration: none !important;
  color: black !important;
}

@media (max-width: 992px) {
  .NavigationItem {
    margin-left: 1%;
    padding: 8px 4px;
    border-bottom: 1px solid #000;
  }

  .NavigationItem a {
    padding: 4px 2px;
    /* border-bottom: 2px solid transparent; */
  }

  .NavigationItem a:hover,
  .NavigationItem a.active {
    border-bottom: none;
    color: rgb(66, 201, 235);
  }
}
