.titleCategories {
  font-family: "Roboto";
  color: #000;
  font-weight: bold;
  font-size: 21px;
}
.categories {
  display: block;
  padding: 0.4rem 1rem;
  text-decoration: none !important;
  padding-left: 0;
  color: gray;
  font-family: "Roboto";
  font-weight: 700;
}
.categories:hover {
  color: #d3d3d3;
}
.img {
  width: 60px;
  height: 60px;
  margin-left: 2%;
}
